<div id="addForm" ng-controller="addFormCtrl">
    <form class="navbar navbar-form" name="addForm">
        <div class="form-group">
            <input type="text" class="form-control" required placeholder="Name" ng-model="newBookmark.name" ng-pattern="/^[A-Z,a-z]/">
            <input type="text" class="form-control" required placeholder="Url" ng-model="newBookmark.url">
            <input type="text" class="form-control" required placeholder="Description" ng-model="newBookmark.description">
            <button class="btn btn-primary" ng-click="addBookmark(newBookmark, addForm)">Add Bookmark</button>
        </div>
    </form>
</div>