.wrap {
    width: 1260px;
    margin: 50px auto;
}
.form {
    float: left;
    width: 200px;
}
.form input,
.form button {
    margin: 10px 0;
}

.table {
    float: left;
    margin: 0 30px;
    width: 1000px!important;
}