<!DOCTYPE html>
<html ng-app="bookmarksApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular bookmarks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="wrap">
    <div id="bookmarks" ng-controller="bookmarksCtrl">
        <div class="input-group form">
            <input type="text" class="form-control" placeholder="Name" ng-model="name">
            <input type="text" class="form-control" placeholder="Url" ng-model="url">
            <input type="text" class="form-control" placeholder="Description" ng-model="description">
            <button class="btn btn-primary" ng-click="addBookmark(name, url, description)">Add</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bookmark in list.bookmarks">
                    <td>{{bookmark.id}}</td>
                    <td>{{bookmark.name}}</td>
                    <td>{{bookmark.url}}</td>
                    <td>{{bookmark.description}}</td>
                    <td><button class="btn btn-danger" ng-click="deleteBookmark(bookmark.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="js/lib/angular.min.js"></script>
<script src="js/controllers/bookmarksController.js"></script>
<script src="js/models/bookmarksModel.js"></script>
</body>
</html>